form {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(2, minmax(auto, 352px));
  font-size: 20px;
}

form * {
  padding: 5px;
  border-radius: 5px;
  font-size: 20px;
}

form>button {
  border-radius: 10px;
  grid-column: span 2;
  width: 160px;
  margin-top: 20px;
  margin-left: auto;
  font-size: 22px;
  background: #579BB1;
  border: none;
}


button:active,
button:hover {
  background: #424748;
  color: white;
}

.delete-btn {
  display: inline-flex;
}

.delete-btn>button {
  font-size: 12px;
  background: #424748;
  color: whitesmoke;
  padding: 5px 10px;
  width: 100%;
  margin-left: 20px;
}